html {background-color: #fff}
body {
    // * {
    //    box-sizing: border-box;
    // }
  margin: 0;
  padding: 0;
  font-family: sans-serif;
//   background: #fefcea;
//   background: linear-gradient(to top, #fff, #ccc);
}

input, button {
    outline: none !important
}


// .clearfix::after {
//     content: "";
//     display: table;
//     clear: both;
// }